<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>school</title>
    <link rel="stylesheet" href="ashutoshstyle.css">
</head>
<body>
        <div id="inside">
    <table>
        
<tr>
    <td id="first">
        Home
    </td>
    <td>About us</td>
    <td>Gallary</td>
<td>
        Facilities

</td>
<td>
    Contact us
</td></tr>

    </table>
</div>
<div id="second">
gdfgdfg
</div>
<div id="third">
<h2>
        Welcome to Little Flower Children Academy
</h2>
<p>
        You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks. When you create pictures, charts, or diagrams, they also coordinate with your current document look.On the Insert tab, the galleries include items that are designed to coordinate with the overall look of your document. You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks. When you create pictures, charts, or diagrams, they also coordinate with your current document look.On the Insert tab, the galleries include items that are designed You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks. When you create pictures, charts, or diagrams, they also coordinate with your current document look.On the Insert tab, the galleries include items that are designed You can use these galleries to insert tables, headers, footers, lists, cover pages, and other document building blocks. When you create pictures, charts, or diagrams, they also coordinate with your current document look.On the Insert tab, the galleries include items that are designed
</p>
</div>
<div id="second" style="background-image: url(images/IMG20190214114216~2.jpg);">

</div>
aa


<div>
    <a href="/h">Back</a>
</div>
</body>
</html>